.CirclesArea{
  margin-left: 30em;
  margin-top: 5em;
}
.circle1 {
  position: relative;
  width: 500px;
  height: 500px;
  border-radius: 250px;
  box-sizing: border-box;
  background-color:#00CED1;
  border-top: 3px solid #00008B;
  border-bottom: 3px solid #00008B;
}


.circle1:hover {
  transition: 300ms;
  background-color: #1E90FF;
  transform: rotate(90deg);
}
.circle2 {
  position: relative;
  bottom: 25rem;
  left: 6rem;
  width: 300px;
  height: 300px;
  border-radius: 150px;
  background-color:#00CED1;
  border-top: 3px solid #00008B;
  border-bottom: 3px solid #00008B;

}
.circle2:hover {
  transition: 300ms;
  background-color:#1E90FF;
  transform: rotate(90deg);
}
.circle3 {
  position: relative;
  bottom: 40.5rem;
  left: 9rem;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color:#00CED1;
  border-top: 3px solid #00008B;
  border-bottom: 3px solid #00008B;

  }
.circle3:hover {
  transition: 300ms;
  background-color: #1E90FF;
  transform: rotate(90deg);
}
.trianglePlay {
  position: relative;
  bottom: 49.5rem;
  left: 13rem;
  width: 0px;
}
